body {
	padding-top:5em;
}

section {
	margin: 3em 0;
}

.jumbotron {
	background-image: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/M5IRQV8XLJ.jpg);
	background-size: cover;
	background-position: center;
	min-height: 40vh;
	width:100%;
}

@media(max-width:767px){
	body {
		padding-top:25em;
	}	
}